echo "
# Python
__pycache__/
*.pyc

# Virtual env
venv*/
.env/

# OS
.DS_Store

# Logs
*.log

# DB files (usually)
*.db

# Prefect / pipeline state
processed_files.txt
pipeline/processed_files.txt

# Data
data.db
" >> .gitignore
