# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
venv*/
.venv/
.env/

# Logs
*.log
logs/
ecommerce_project/logs/

# Databases
*.db
*.duckdb
*.wal

# Prefect
.prefect/

# data
data/

# dbt build artifacts
target/
dbt_packages/
logs/
ecommerce_project/target/

# Runtime state
processed_files.txt
pipeline/processed_files.txt

#data
data/daily_orders/
requirements.lock.txt
sql copy/
.env
